---
---

<!DOCTYPE html>
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
  crossorigin="anonymous"
/>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
  crossorigin="anonymous"
></script>
<script src="https://code.iconify.design/iconify-icon/1.0.1/iconify-icon.min.js"
></script>
<head>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="Jason's Team" />
    <meta name="generator" content="Hugo 0.104.2" />
    <title>Jason's Team|Design</title>

    <link
      rel="canonical"
      href="https://getbootstrap.com/docs/5.2/examples/features/"
    />

    <!-- Custom styles for this template -->
    <link href="features.css" rel="stylesheet" />
  </head>
</head>
<html lang="en">
  <!-- 头部 -->
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Jason's Team Design</title>
    <div class="container">
      <header class="d-flex justify-content-center py-3">
        <ul class="nav nav-pills">
          <li class="nav-item"><a href="#" class="nav-link">Features</a></li>
          <li class="nav-item">
            <a href="../price" class="nav-link">Pricing</a>
          </li>
          <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
          <li class="nav-item"><a href="#" class="nav-link">About</a></li>
        </ul>
      </header>
    </div>
  </head>
  <!-- 首页第一页 -->
  <div align="center">
    <h1><strong>Jason's Design</strong></h1><br />
    <p>保障您的安全</p>
    <button type="button" class="btn btn-primary btn-lg">Consult</button>
    <a href="../price" class="btn btn-outline-secondary btn-lg">立即购买</a>
  </div>

  <div class="container px-4 py-5" id="icon-grid">
    <h2 class="pb-2 border-bottom">Features</h2>

    <div class="row">
      <div class="col-sm-6">
        <div class="card card border-white">
          <div class="card-body">
            <h5 class="card-title"><strong>优质设计</strong></h5>
            <p class="card-text">
              总计:<strong>￥15</strong>起<br
              />一切皆始于Jason的手下键盘。而Jason's
              Team则将其加以诠释。一张简单的Flow
              Chart就足以令他们了解方案的要求、细节和风格。而Jason's
              Team只采用VScode：定制方案因具有绝佳的可实施性、轻量性和高质量的体验而成为最佳选择。对于工程师而言，质量至关重要。
            </p>
            <a href="../price" class="btn btn-primary">立即购买</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card card border-white">
          <div class="card-body">
            <h5 class="card-title"><strong>省心搭建</strong></h5>
            <p class="card-text">
              总计:<strong>￥25</strong>起<br
              />在打包脚本和说明，并添加必要的工具、解释或定义后，就将对方案进行最终检视。向Jason
              Lu进行的展示由此开始。重新修改细节，调整逻辑，更改这里或那里的次序。一旦方案获得确认，将进入Jason's
              Team的部署工坊。
            </p><br />
            <a href="../price" class="btn btn-primary">立即购买</a>
          </div>
        </div>
      </div>
    </div>
    <br />
    <br />
    <!-- 速度 -->
    <div>
      <h2>Speed of our services</h2><hr />
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Ordinary</th>
            <th scope="col">Pro</th>
            <th scope="col">Enterprise</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">方案分析</th>
            <td>6 hours</td>
            <td>12 hours</td>
            <td>1 day</td>
          </tr>
          <tr>
            <th scope="row">方案设计</th>
            <td>8 hours</td>
            <td>12 hours</td>
            <td>18 hours</td>
          </tr>
          <tr>
            <th scope="row">设计&搭建</th>
            <td>1 day</td>
            <td>1 day</td>
            <td>2 days</td>
          </tr>
        </tbody>
      </table>
      <br />
      <p>
        <strong>What does the level mean?</strong><br />
        等级标志着服务的质量,我们的专家会更加细致地进行评估与设计。当然这需要消耗更多的时间，您也可以选择我们的<a
          href="../price">加急服务</a
        >。<br /><br />
        The level means the quality of the service, Our experts will design and evaluate
        in more detail. Of course this takes more time. You can also choose our <a
          href="../price">expedited service.</a
        >
      </p>
    </div>
    <!-- support -->
    <div>
      <h2>Supported</h2><hr />
      <iconify-icon icon="flat-color-icons:android-os" width="56" height="56"
      ></iconify-icon>&nbsp;&nbsp;&nbsp;&nbsp;
      <iconify-icon icon="logos:microsoft-windows" width="56" height="56"
      ></iconify-icon>&nbsp;&nbsp;&nbsp;&nbsp;
      <iconify-icon icon="flat-color-icons:linux" width="56" height="56"
      ></iconify-icon>
    </div>
  </div>
  <div class="container">
    <footer class="py-3 my-4">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-muted">Home</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-muted">Features</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-muted">Pricing</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-muted">FAQs</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-muted">关于我们</a>
        </li>
      </ul>
      <p class="text-center text-muted">&copy; 2022 Company, Inc</p>
    </footer>
  </div>
</html>
