<!DOCTYPE html>
<html>
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
        crossorigin="anonymous"
    />
    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"
    ></script>
    <script
        src="https://code.iconify.design/iconify-icon/1.0.1/iconify-icon.min.js"
    ></script>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta
        name="author"
        content="Mark Otto, Jacob Thornton, and Bootstrap contributors"
    />
    <meta name="generator" content="Hugo 0.104.2" />
    <title>Jason's Team|Design</title>
    <link
        rel="canonical"
        href="https://getbootstrap.com/docs/5.2/examples/features/"
    />
    <link href="features.css" rel="stylesheet" />

    <html lang="en">
        <!-- 头部 -->
        <head>
            <meta charset="utf-8" />
            <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
            <meta name="viewport" content="width=device-width" />
            <meta name="generator" content={Astro.generator} />
            <title>Jason's Team Design</title>
            <div class="container">
                <header class="d-flex justify-content-center py-3">
                    <ul class="nav nav-pills">
                        <li class="nav-item">
                            <a href="../" class="nav-link">Features</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Pricing</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">FAQs</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">About</a>
                        </li>
                    </ul>
                </header>
            </div>
        </head>
        <!-- 头部 -->
        <div align="center">
            <h1><strong>Jason's Design</strong></h1><br />
            <p>高端定制安全保障计划</p>
        </div>
        <main>
            <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">Free</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">
                                ￥15<small class="text-muted fw-light"
                                    >/次</small
                                >
                            </h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>单系统</li>
                                <li>匿名化建议</li>
                                <li>高危点</li><br /><br /><br /><br />
                            </ul>
                            <button
                                type="button"
                                class="w-100 btn btn-lg btn-outline-primary"
                                >立即购买</button
                            >
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">Pro</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">
                                ￥20<small class="text-muted fw-light"
                                    >/次</small
                                >
                            </h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>单系统</li>
                                <li>匿名化建议</li>
                                <li>高危点</li>
                                <li>性能优化</li>
                                <li>匿名邮箱</li><br /><br />
                            </ul>
                            <button
                                type="button"
                                class="w-100 btn btn-lg btn-outline-primary"
                                >立即购买</button
                            >
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm border-primary">
                        <div
                            class="card-header py-3 text-bg-primary border-primary"
                        >
                            <h4 class="my-0 fw-normal">Enterprise</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">
                                ￥35<small class="text-muted fw-light"
                                    >/次</small
                                >
                            </h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>单系统</li>
                                <li>匿名化建议与长期免费安全咨询支持</li>
                                <li>高危点</li>
                                <li>性能优化</li>
                                <li>匿名邮箱</li>
                                <li>Anti-virsu software selection</li>
                                <li>加密货币代设置</li>
                            </ul>
                            <button
                                type="button"
                                class="w-100 btn btn-lg btn-primary"
                                >最推荐！立即购买</button
                            >
                        </div>
                    </div>
                </div>
            </div>
        </main><br /><font color="grey"
            ><p>注：搭建费视情况而定，本界面的价格不包含搭建。加急服务收费为￥5，时间缩短6小时</p>
        </font><br /><br /><br /><br />
        <div class="container">
            <footer class="py-3 my-4">
                <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                    <li class="nav-item">
                        <a href="#" class="nav-link px-2 text-muted">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link px-2 text-muted">Features</a
                        >
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link px-2 text-muted">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link px-2 text-muted">FAQs</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link px-2 text-muted">关于我们</a
                        >
                    </li>
                </ul>
                <p class="text-center text-muted">&copy; 2022 Company, Inc</p>
            </footer>
        </div>
    </html>


</html>
